@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.zt-opc-element {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-size: 14px;
}
.zt-opc-element *{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.zt-opc-element fieldset{
    padding: 0;
    border: none;
}
.zt-opc-element tbody{
    position: relative;
}
.zt-opc-element tbody:hover .zt-opc-cart-arrow-box{
    opacity: 1;
}
.cart-summary .PricesalesPrice > span{
    color: red;
    font-size: 15px;
}
.cart-summary .price-nomal .PricesalesPrice > span{
    font-size: 14px;
    color: inherit;
}
.zt-opc-element strong{
    font-weight: bold;
}
.zt-opc-element .inner-wrap{
    padding: 10px;
}
.zt-opc-title{
    background-color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    margin: 0;
}
.zt-opc-step{
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin-right: 7px;
    text-align: center;
    vertical-align: 4px;
    width: 18px;
}
.zt-opc-element .form-group{
    margin-bottom: 5px;
}
.zt-opc-element .form-group label{
    display: block;
}
.zt-opc-element .form-group input[type="text"],
.zt-opc-element .form-group input[type="tel"],
.zt-opc-element .form-group input[type="password"],
.zt-opc-element .form-group input[type="email"],
.zt-opc-element .form-group select{
    width: 100%;
}
input.quantity-input{
    background: transparent;
    border: none;
    height: auto !important;
}
table.cart-summary tr th{
    background: transparent;
    padding-left: 0 !important;
}
span.vm-price-desc{
    margin: 0 3px 0 0;
}
.table > tbody > tr th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > th:first-child,
.table > tbody > tr td:first-child,
.table > tfoot > tr > td:first-child,
.table > thead > tr > td:first-child{
    padding-left: 0;
}
.table > tbody > tr > th:last-child,
.table > tfoot > tr > th:last-child,
.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child{
    padding-right: 0;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"]{
    float: left !important;
    margin: 0 4px 0 0 !important;
    position: relative !important;
}
.zt-opc-element textarea.customer-comment{
    width: 100%;
}
.zt-opc-cart-product-name{
    margin-bottom: 10px;
}
.zt-opc-cart-p-info{
    padding-bottom: 10px;
}
.zt-opc-cart-arrow-box{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 99;
    opacity: 1;
}
.zt-opc-cart-arrow-box:before{
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: 20px;
    position: absolute;
    right: 33px;
    top: -11px;
    transform: rotate(135deg);
    width: 20px;
}
.zt-opc-cart-btn{
    margin-top: 4px;
}
[id*="zt-opc-shoppingcart-"]{
    margin: 0 !important;
}
